# Python Libraries
pandas==2.0.3
numpy==1.24.4
scikit-learn==1.2.2
mlflow==2.7.0
gitpython==3.1.33

# For data simulation
faker==18.0.1

# For MLOps and Deployment
azure-cli==2.48.0
azureml-core==1.48.0

# Optional: if you need to handle large files with Git LFS
git-lfs==3.3.0

# For additional functionality, if used
requests==2.31.0
